<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Your Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar" style="background-color: #ffffff;">
        <div class="container-fluid" style="margin-inline: 100px; ">

            <div>
                <img style="width: 20%; height: 100%;" src="../../assets/images/2 1.png" alt="">
            </div>

            <div class="circle-card" *ngFor="let addmin of addmin">
                <img style="display: flex; object-fit: cover;" src="{{addmin.avatar}}" width="100%" height="100%"
                    alt="">
            </div>
            <button class="ButtonL" style="display: flex; align-items: center;" mat-button routerLink="/">Logout <img
                    src="../../assets/images/mdi_logout.png" alt=""></button>

        </div>
    </nav>
    <div>
        <div class="container">
            <div *ngFor="let user of user">
                <div class="card ">
                    <div class="card-body">
                        <div class="circle-card2">
                            <img src="{{user.avatar}}" alt="">
                        </div>
                        <div style="display: flex; justify-content: center; margin-top: 20px;">
                            <p>{{user.name}}</p>
                        </div>
                        <div style="display: flex; justify-content: center; margin-top: 20px;">
                            <button mat-button type="button" class="custom-button"
                                style="background-color: orange; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">Profile
                                <img src="../../assets/images/teenyicons_user-square-outline (1).png" alt=""
                                    style="height: 15px;">
                                    
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>