<div class="cardposition">
  <mat-card class="cardbody">
    <div>
      <img style="width: 100px; height: 100px;" src="../../assets/images/2 1.png" alt="">
    </div>
    <div style="display: flex; justify-content: center;">
      <div>
        <div style="display: flex; justify-content: center;">
          <h1>แก้ไขข้อมูลส่วนตัว</h1>
        </div>
        <div class="example-form" *ngFor="let user of data">
          <div class="inputfield">
            <label style="color: rgb(0, 0, 0)">Name</label>
            <!-- <mat-form-field class="example-form-field">/ -->
              <!-- <mat-label>Clearable input</mat-label> -->
              <input type="text" [(ngModel)]="this.name">
            <!-- </mat-form-field> -->
            
          </div>
          <div class="inputfield">
            <label style="color: rgb(0, 0, 0)">lastname</label>
            <input type="text"[(ngModel)]="this.lastname">
          </div>
          <div class="inputfield">
            <label style="color: rgb(0, 0, 0)">Email</label>
            <input type="email"[(ngModel)]="this.email">
          </div>

          <div class="inputfield">
            <label style="color: rgb(0, 0, 0)">Password</label>
            <input type="password" [(ngModel)]="this.pass">
          </div>
          <div class="inputfield">
            <label style="color: rgb(0, 0, 0)">Confirm Password</label>
            <input type="password" [(ngModel)]="this.pass2">
          </div>

          <div class="inputfield">
            <!-- <label spicture"color: rgb(0, 0, 0)">Password</label> -->
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
          </div>
          <div style="
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
            margin-top: 10px;
          ">
            <button style="border-radius: 10px; margin-bottom: 10px; background-color: yellow;" mat-raised-button
              (click)="profile()">
              Back
            </button>
            <button style="border-radius: 10px; margin-bottom: 10px" mat-raised-button color="primary"
              (click)="confrim()">
              confirm
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <mat-card-content style="margin-top: 1px">
        
      </mat-card-content> -->

  </mat-card>
</div>