.cardposition{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cardbody{

    width: 1150px;
    height: 480px;
    border-radius: 50px;
    background-color: rgb(248, 234, 236);
}
h1 {
    margin-top: -80px; /* ค่าที่คุณต้องการขยับขึ้น สามารถปรับเปลี่ยนตามที่ต้องการ */
}
button{
    margin-top: -80px;
}
